<!DOCTYPE html>
	<html ng-app="fetch">
	<!--<head> -->

		
		<title>Crear perfil</title> 
		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script>
		<script type="text/javascript" src="profiles_app.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
			
	<!-- </head> -->
	  
	  
	<style>
	div.container {
		width: 100%;
		border: 1px solid gray;
	}

	<!--
	footer {
		padding: 1em;
		color: white;
		background-color:  #1e8449  ;
		clear: left;
		text-align: center;
	}
	-->

	<!--
	header {

		padding: 1em;
		color: white;
		background-color:   #2e86c1 ;
		clear: left;
		text-align: center;

	}
	-->

	nav {
		float: left;
		max-width: 160px;
		margin: 0;
		padding: 1em;
	}

	nav ul {
		list-style-type: none;
		padding: 0;
	}
				
	nav ul a {
		text-decoration: none;
	}

	article {
		margin-left: 170px;
		border-left: 1px solid gray;
		padding: 1em;
		overflow: hidden;
	}

	#menu_bar{

		#padding: 1em;
		color: white;
		background-color:   #707b7c  ;
		clear: left;
		text-align: right;
		
	}

	#top_bar{

		/*#padding: 1em;*/
		color: white;
		background-color:   #707b7c  ;
		clear: left;
		text-align: right;
		
	}

	#header_area{

		padding: 1em;
		color: white;
		background-color:   #2e86c1 ;
		clear: left;
		text-align: center;
		
	}


	#footer_bar {

		padding: 1em;
		color: white;
		background-color:  #1e8449  ;
		clear: left;
		text-align: center;
	}

	#form_div{
	  
		width: 200px;
		align: center;
		margin: 0 auto;
	}

	.modal-popup{
		margin: 20px;
	}
	</style>





	<!-- <body ng-controller="dbCtrl"> -->
	<body >


	<!-- TOP BAR --------------------->
	<div id="top_bar" class="container">

		<ul>
			<a href="#">BICOYED Costa Rica</a>
			<a href="#">Contacto +506 2253 5555, agomez@bicoyed.com</a>
		</ul>
	</div>
	<!-- END OF TOP BAR--------------->

	<!-- HEADER AREA --------------------->
	<div id="header_area" class="container">	
		<header>
		   <h1>Sistema de Gestion</h1>
		</header>
	</div>
	<!-- END OF HEADER AREA  -------------->

	<!-- MENU BAR  --------------------->
	<div id="menu_bar" class="container">
		
	
		<ul >
                    <a href="#">Bienvenido, UserID_Tag </a>
                    <button ng-click="Logout()">Salir</button>
		</ul>

	</div>
	<!-- END OF MENU BAR  ------------- -->

	<!-- MAIN AREA ------------------- -->
	<div class="container">

		
		<!-- SIDENAV MENU ------ -->
		<nav id="sidenav">
		
			
			<ul>
                                <li><a href="../index/index.php">Indice</a></li>
				<li><a href="#">Ayuda</a></li>
				<li><a href="#">Acerca de</a></li>
			</ul>
		</nav>
		<!-- END OF SIDENAV MENU -->

		<!-- -------------1. CONTENT SECTION -->
		<article>
			
			<!-- <div class="container"> -->

			<div class="panel panel-default">
				<div class="panel-body" id="content_panel">
			  <ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#home">Pacientes</a></li>
				<li><a data-toggle="tab" href="#menu1">Empresas</a></li>
				<li><a data-toggle="tab" href="#menu2">Ayuda</a></li>
			  </ul>



			  <div class="tab-content">
				<div id="home" class="tab-pane fade in active">
				  <h3>Crear nuevo paciente</h3>
			  
					<!-- controller for patient search -->
					<div id="PatientController" ng-controller="dbCtrl" ng-init="Init('Patient')">
			  
						<!--------- Search results ------->
						<div>
						<form name="PatientForm">
					
							<table border="1px">
							<!--FIXME:delete all ng-repeat and correct "valor actual"-->	

								<tr>
									<th>Dato</th>
									<th>Valor actual</th>
									<!--<th>Validacion</th>	-->
								</tr>
								<tr>
									<th>Cedula</th>
									<td ng-repeat="patients in data">{{patients.PatientID}}</td>
									<td><input name="PatientID_Field" type="number"  runat="server" ng-init="inputVal=''" ng-model="PatientID_Input_Model" required></td>	
									<!--<td>validation={{PatientForm.PatientID_Field.$valid}}</td>-->
								</tr>
								<tr>
									<th>Nombre</th>
									<td ng-repeat="patients in data">{{patients.Forename}}</td>
									<td><input name="Forename_Field" type="text"  runat="server" ng-init="inputVal=''" ng-model="Forename_Input_Model" required></td>
									<!--<td>validation={{PatientForm.Forename_Field.$valid}}</td>-->
								</tr>
								<tr>
									<th>Segundo Nombre</th>
									<td ng-repeat="patients in data">{{patients.MiddleName}}</td>
									<td><input name="MiddleName_Field" type="text"  runat="server" ng-init="inputVal=''" ng-model="MiddleName_Input_Model" required></td>
									<!--<td>validation={{PatientForm.Forename_Field.$valid}}</td>-->
								</tr>
                                                                <tr>
									<th>Primer Apellido</th>
									<td ng-repeat="patients in data">{{patients.FirstSurname}}</td>
									<td><input name="FirstSurname_Field" type="text"  runat="server" ng-init="inputVal=''" ng-model="FirstSurname_Input_Model" required></td>
									<!--<td>validation={{PatientForm.FirstSurname_Field.$valid}}</td>-->
								</tr>
								<tr>
									<th>Segundo Apellido</th>
									<td ng-repeat="patients in data">{{patients.SecondSurname}}</td>
									<td><input name="SecondSurname_Field" type="text"  runat="server" ng-init="inputVal=''" ng-model="SecondSurname_Input_Model" required></td>
									<!--<td>validation={{PatientForm.SecondSurname_Field.$valid}}</td>-->
								</tr>
								<tr>
									<th>Email</th>
									<td ng-repeat="patients in data">{{patients.Email}}</td>
									<td><input name="PatientEmail_Field" type="email"  runat="server" ng-init="inputVal=''" ng-model="PatientEmail_Input_Model" required></td>
									<!--<td>validation={{PatientForm.PatientEmail_Field.$valid}}</td>-->
								</tr>
								<tr>
									<th>Telefono</th>
									<td ng-repeat="patients in data">{{patients.Phone}}</td>
									<td><input name="PatientPhone_Field" type="number"  runat="server" ng-init="inputVal=''" ng-model="PatientPhone_Input_Model" required></td>
									<!--<td>validation={{PatientForm.PatientPhone_Field.$valid}}</td>-->
								</tr>
								<tr>
									<th>Fecha Nacimiento(dd-mm-aaaa)</th>
									<td ng-repeat="patients in data">{{patients.BirthDate}}</td>
									<td><input name="BirthDate_Field" type="date"  runat="server" ng-init="inputVal=''" ng-model="BirthDate_Input_Model" required></td>
									<!--<td>validation={{PatientForm.BirthDate_Field.$valid}}</td>-->
								</tr>
								<tr>
									<th>Fecha entrada al programa</th>
									<td ng-repeat="patients in data">{{patients.JoinDate}}</td>
                                                                        <td><input name="JoinDate_Field" type="date"  runat="server" ng-init="inputVal=''" ng-model="JoinDate_Input_Model" required></td>

								</tr>
								<tr>
									<th>Genero</th>
									<td ng-repeat="patients in data">{{patients.Gender}}</td>
									<td>
										<select name="GenderSelect" class="form-control"  ng-model="GenderSelect_Input_Model" required>
											<option></option>
											<option>Masculino</option>
											<option>Femenino</option>
                                                                                        <option>No indica</option>
										</select>
									</td>	
									<!--<td>validation={{PatientForm.GenderSelect.$valid}}</td>-->
									
								</tr>
								<tr>
									<th>Direccion</th>
									<td ng-repeat="patients in data">{{patients.Address}}</td>
									<td><input name="PatientAddress_Field" type="text"  runat="server" ng-init="inputVal=''" ng-model="PatientAddress_Input_Model" required></td>
									<!--<td>validation={{PatientForm.PatientAddress_Field.$valid}}</td>-->
								</tr>
								<tr>
									<th>Empresa</th>
                                                                        <td><select ng-model="CompanySelect_Input_Model" ng-options="item as item.CompanyID for item in CompanyList"></select></td>
									<!--<td>validation={{PatientForm.CompanyIDSelect.$valid}}</td>-->								
                                                                </tr>
								<tr>
									<th>Departamento</th>
									<td ng-repeat="patients in data">{{patients.Department}}</td>
									<td><select ng-model="DepartmentSelect_Input_Model" ng-options="item as item.DepartmentID for item in DepartmentList"></select></td>	
									<!--<td>validation={{PatientForm.DepartmentSelect.$valid}}</td>	-->								
								</tr>
								<tr>
									<th>Ingreso Mensual</th>
									<td ng-repeat="patients in data">{{patients.Income}}</td>
									<td><input name="PatientIncome_Field" type="number"  runat="server" ng-init="inputVal=''" ng-model="PatientIncome_Input_Model" required></td>
									<!--<td>validation={{PatientForm.PatientEmail_Field.$valid}}</td>-->
								</tr>								
							</table>	

							<!--<button ng-click="CreatePatient()">CreatePatient()</button>-->
							<!--<button ng-click="dg()">dg</button>-->
							
						</form>		
						</div><!--------- End of Search results ------->				

						<br>
						<!-- patient modal popup -->
						<script type="text/javascript" src="create_profile_modal.js"></script>
						<!--<div class="modal-popup" ng-show="PatientForm.PatientID_Field.$valid&&PatientForm.Forename_Field.$valid&&PatientForm.FirstSurname_Field.$valid&&PatientForm.SecondSurname_Field.$valid&&PatientForm.PatientEmail_Field.$valid&&PatientForm.PatientPhone_Field.$valid&&PatientForm.BirthDate_Field.$valid&&PatientForm.GenderSelect.$valid&&PatientForm.PatientAddress_Field.$valid&&PatientForm.CompanyIDSelect.$valid&&PatientForm.DepartmentSelect.$valid&&PatientForm.SiteSelect.$valid">-->
						<div class="modal-popup">
                                                    <!-- Button HTML (to Trigger Modal) -->
							<input type="button" class="btn btn-lg btn-primary launch-modal" value="Guardar">
							
							<!-- Modal HTML -->
							<div id="myModal" class="modal fade">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h4 class="modal-title">Confirmacion</h4>
										</div>
										<div class="modal-body">
											<p>¿Crear perfil de paciente con los siguientes datos?</p>
											<p class="text-warning"><small>Si NO guarda, los cambios se perderan</small></p>
											<!--<p class="text-info"><small><strong>Note:</strong> Press Tab key on the keyboard to enter inside the modal window after that press the Esc key. By default keyboard option is true that means modal hide on the press of escape key.</small></p>-->
											<!--<p>{{Modal_Message}}</p>-->
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
											<button type="button" class="btn btn-primary" data-dismiss="modal" id="save-event" >Enviar</button>
										</div>
									</div>
								</div>
							</div>
						</div>				
						<!--end of patient popup modal -->

						
					</div><!-- ------- End of Search patient controller -->

				</div><!-- End of patient tab -->			
				
				<div id="menu1" class="tab-pane fade">
					<h3>Crear nueva empresa</h3>
					
					<!-- controller for company search -->
					<!--<div>-->
					<div id="CompanyController" ng-controller="dbCtrl">  			
						
							<form name="CompanyForm">

								<!--------- Search results ------->
								<div>
								
									<table border="1px">										

										<tr>
											<th>Dato</th>
											<th>Valor actual</th>
											<!--<th>Validacion</th>-->	
										</tr>
										<tr>
											<th>ID Empresa</th>
											<td ng-repeat="patients in data">{{patients.PatientID}}</td>
											<td><input name="CompanyID2_Field" type="text"  runat="server" ng-init="inputVal=''" ng-model="CompanyID2_Input_Model" no-special-char required></td>	
											<!--<td>validation={{CompanyForm.CompanyID2_Field.$valid}}</td>-->
										</tr>
										<tr>
											<th>Telefono</th>
											<td ng-repeat="patients in data">{{patients.Forename}}</td>
											<td><input name="CompanyPhone_Field" type="number"  runat="server" ng-init="inputVal=''" ng-model="CompanyPhone_Input_Model" required></td>
											<!--<td>validation={{CompanyForm.CompanyPhone_Field.$valid}}</td>-->
										</tr>
										<tr>
											<th>Email</th>
											<td ng-repeat="patients in data">{{patients.Email}}</td>
											<td><input name="CompanyEmail_Field" type="email"  runat="server" ng-init="inputVal=''" ng-model="CompanyEmail_Input_Model" required></td>
											<!--<td>validation={{CompanyForm.CompanyEmail_Field.$valid}}</td>-->
										</tr>
										<tr>
											<th>Fecha entrada al programa</th>
											<td ng-repeat="patients in data">{{patients.JoinDate}}</td>
										</tr>

										<tr>
											<th>Direccion</th>
											<td ng-repeat="patients in data">{{patients.Address}}</td>
											<td><input name="CompanyAddress_Field" type="text"  runat="server" ng-init="inputVal=''" ng-model="CompanyAddress_Input_Model" required></td>
											<!--<td>validation={{CompanyForm.CompanyAddress_Field.$valid}}</td>-->
										</tr>
										
									</table>									
								
									<!--<button ng-click="dg_company()">dg_company</button>-->
									
								</div>
								<!-- ------- End of Search results -->
						
							</form>
							
					
					
						<br>
						
						<!-- company modal popup -->
						
						<div class="modal-popup" ng-show="CompanyForm.CompanyID2_Field.$valid&&CompanyForm.CompanyPhone_Field.$valid&&CompanyForm.CompanyEmail_Field.$valid&&CompanyForm.CompanyAddress_Field.$valid">
							<!-- Button HTML (to Trigger Modal) -->
							<input type="button" class="btn btn-lg btn-primary launch-modal" value="Guardar">
							
							<!-- Modal HTML -->
							<div id="myModal2" class="modal fade">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="x">×</button>
											<h4 class="modal-title">Confirmacion</h4>
										</div>
										<div class="modal-body">
											<p>¿Crear perfil de empresa con los siguientes datos?</p>
											<p class="text-warning"><small>Si NO guarda, los cambios se perderan</small></p>
											<!--<p class="text-info"><small><strong>Note:</strong> Press Tab key on the keyboard to enter inside the modal window after that press the Esc key. By default keyboard option is true that means modal hide on the press of escape key.</small></p>-->
											<!--<p>{{Modal_Message}}</p>-->
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
											<button type="button" class="btn btn-primary" data-dismiss="modal" id="save-event2">Enviar</button>
										</div>
									</div>
								</div>
							</div>
						</div>				
						<!--end of company popup modal -->
						
					</div><!-- End of controller for Company -->	
					
				</div> <!--End of Company Search tab-->
				
				
				<div id="menu2" class="tab-pane fade">
				  <h3>Tips generales</h3>
				  <p>Introduzca cualquier criterio de busqueda en los campos y luego haga click sobre el boton de Busqueda </p>
				</div>

			  </div> <!-- end of tab content -->
			  
			  
			  
			  
			</div>

			</div>
			<!-- </div> -->
			
		</article>
		<!-- -------------END OF CONTENT SECTION -->


		
		
		
	</div>
	<!-- END OF MAIN AREA --------------------->

		<div id="footer_bar" class="container">	
			<footer>2016 - Athelog Data Services</footer>
		</div>

	</body>

	</html>

